<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}<!-- block meta --> {% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    {% block beforehead %}<!-- before head --> {% endblock %}
</head>
<body>
<nav class="uk-navbar-container uk-margin-bottom" uk-navbar>
    <div class="uk-navbar-left">
        <a href="/" class="uk-navbar-item uk-logo">Awesome</a>
        <ul class="uk-navbar-nav">
            <li><a href="/"><i uk-icon="home"></i> 日志</a></li>
            <li><a target="_blank" href=""><i uk-icon="album"></i> 教程</a></li>
            <li><a target="_blank" href="https://github.com/xian-wen/awesome-python3-webapp"><i uk-icon="code"></i>源码</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if __user__ %}
            <li>
                <a href=""><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="/signout"><i uk-icon="sign-out"></i> 退出</a></li>
                    </ul>
                </div>
            </li>
            {% else %}
            <li><a href="/signin"><i uk-icon="sign-in"></i> 登录</a></li>
            <li><a href="/register"><i uk-icon="pencil"></i> 注册</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="uk-container">
    <div uk-grid>
        {% block content %}
        <!-- content -->
        {% endblock %}
    </div>
</div>

<div class="uk-margin-large-top" style="background-color: #eee; border-top: 1px solid #ccc;">
    <div class="uk-container uk-text-center">
        <div class="uk-margin-top uk-margin-bottom">
            <p>
                <a target="_blank" href="https://github.com/xian-wen" class="uk-icon-button" uk-icon="github"></a>
                <a target="_blank" href="" class="uk-icon-button" uk-icon="linkedin"></a>
                <a target="_blank" href="" class="uk-icon-button" uk-icon="twitter"></a>
            </p>
            <p>Powered by <a href="">Awesome Python Webapp</a>. Copyright &copy; 2021. [<a href="">Manage</a>]</p>
            <p><a target="_blank" href="">www.yinxianwen.com</a>. All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>