<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>登录 - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/crypto-js.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/vue.global.prod.js"></script>
    <script>
        $(function () {
            const vmAuth = Vue.createApp({
                data() {
                    return {
                        email: '',
                        password: ''
                    }
                },
                methods: {
                    onSubmit() {
                        console.log('Test')
                        const
                            $form = $('#vm'),
                            email = this.email.trim().toLowerCase(),
                            data = {
                                email: email,
                                password: this.password === ''
                                    ? '' : CryptoJS.SHA1(email + ':' + this.password).toString()
                            };
                        $form.postJSON('/api/authenticate', data, function (err, result) {
                            if (!err) {
                                location.assign('/');
                            }
                        });
                    }
                }
            }).mount('#vm');
        });
    </script>
</head>
<body class="uk-height-1-1">
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 320px">
        <p>
            <a class="uk-icon-button uk-icon-html5"
               href="/"
            ></a>
            <a href="/"> Awesome Python Webapp</a>
        </p>
        <form class="uk-panel uk-panel-box uk-form"
              id="vm"
              @submit.prevent="onSubmit"
        >
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row">
                <label class="uk-form-label"
                       for="email"
                ></label>
                <div class="uk-form-icon uk-width-1-1">
                    <i class="uk-icon-envelope-o"></i>
                    <input class="uk-width-1-1 uk-form-large"
                           id="email"
                           v-model="email"
                           type="text"
                           maxlength="50"
                           placeholder="电子邮件"
                    >
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label"
                       for="password"
                ></label>
                <div class="uk-form-icon uk-width-1-1">
                    <i class="uk-icon-lock"></i>
                    <input class="uk-width-1-1 uk-form-large"
                           id="password"
                           v-model="password"
                           type="password"
                           maxlength="50"
                           placeholder="口令"
                    >
                </div>
            </div>
            <div class="uk-form-row">
                <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large"
                        type="submit"
                >
                    <i class="uk-icon-sign-in"></i> 登录
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>